    *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background: white;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.card{
    width: 40rem;
    height: 40rem;
    border-radius: 5rem;
    box-shadow: 0 1rem 2rem 0px rgba(0,0,0,0.2);
    flex-shrink: 0;
}

.card--buy {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.card--buy img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.card--buy p {
    gap: 2rem;
    height: 20%;
    font-size: 75%;
}

.card--slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.card--slider > h2 {
    font-size: 400%;
}

.card--slider > input{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 5rem;
    height: 1.8rem;
    background: linear-gradient(to right, #2C3333, #2E4F4F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.card--slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: forestgreen;
    border: none;
    cursor: pointer;
}

.card--stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.timerText{
    font-size: 200%;
}

.button{
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: black;
}
.button--start{
    background: #2C3333;
    border: none;
}
.button--stop{
    background: grey;
    border: none;

}
.button--reset{
    background: #0E8388;
    border: none;


}